@font-face {
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  src: url("../font/Montserrat-VariableFont_wght.ttf") format("ttf");
}
body {
  font-family: "Montserrat", arial, sans-serif;
}

model-viewer {
  width: auto;
  height: 700px;
  background-image: url(../images/background.png);
  margin: 0 auto 1rem;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 25px;
  height: 25px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(19, 19, 19, 0.25);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: 11rem;
  text-align: left;
}
.HotspotAnnotation h3 {
  color: #7cc7bf;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
}

:not(:defined) > * {
  display: none;
}

header {
  position: sticky;
  height: 72px;
}
header img {
  width: 48px;
  height: 48px;
  margin: 10px 0 0 10px;
}

nav {
  height: 72px;
}

#button {
  height: 30px;
  width: 45px;
  margin-top: 8px;
  transition: all 1 ease;
  color: rgb(62, 131, 131);
}

#burger-con {
  display: none;
  background-color: #fff;
}

#burger-con.slide-toggle {
  display: block;
  right: 0;
  left: 0;
}

#burger-con ul {
  list-style: none;
  padding: 0;
}
#burger-con ul li {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  padding: 10px 0 15px 0;
}
#burger-con ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 450;
  font-size: 19px;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  header img {
    margin: 1rem;
  }
  #button {
    display: none;
  }
  .desktop ul li {
    text-decoration: none;
  }
  .desktop ul li a {
    display: inline;
  }
  nav {
    grid-row: 1/2;
    grid-column: 2/-1;
  }
  #burger-con {
    display: block;
    margin-top: 1.5rem;
    background: none;
  }
  #burger-con ul li {
    display: inline;
    border-bottom: none;
    padding-right: 1rem;
  }
  #burger-con ul li a {
    font-size: 0.8rem;
    border-bottom: none;
  }
}
@media screen and (min-width: 1200px) {
  #burger-con {
    display: block;
    margin-top: 1.5rem;
    background: none;
  }
  #burger-con ul li a {
    font-size: 1rem;
  }
}
footer {
  background-color: #000;
  grid-auto-rows: min-content;
}
footer h2 {
  color: #ffffff;
}
footer .footerNav {
  font-size: 0.9rem;
  margin-top: 0.8;
  margin-left: 3.9rem;
}
footer .footerNav ul li {
  padding-bottom: 0.5rem;
  list-style-type: none;
}
footer .footerNav a {
  color: #fff;
  text-decoration: none;
}
footer .footer-icons {
  text-align: center;
}
footer .footer-icons h2 {
  font-size: 0.7rem;
  margin-top: 2rem;
}
footer .footer-icons img {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
footer form {
  display: inline-flex;
  margin-left: 3rem;
}
footer form #sub {
  width: 1.5rem;
}
footer .form h2 {
  padding: 1rem 0 0.4rem 0;
  font-size: 0.9rem;
  text-align: center;
}

#copyright {
  color: #fff;
  background-color: #131313;
  text-align: center;
  padding: 7px;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  footer {
    background-color: #000;
    grid-auto-rows: min-content;
  }
  footer h2 {
    color: #ffffff;
  }
  footer .footerNav {
    font-size: 14px;
    margin-top: 20px;
  }
  footer .footerNav ul li {
    padding-bottom: 0.5rem;
  }
  footer .footerNav a {
    color: #fff;
    text-decoration: none;
  }
  footer .footer-icons {
    text-align: center;
  }
  footer .footer-icons h2 {
    font-size: 1rem;
    margin-top: 1.2rem;
  }
  footer .footer-icons img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 1rem 1rem 0;
  }
  footer form {
    display: inline-flex;
    margin-left: 0;
  }
  footer form #sub {
    width: 1.5rem;
  }
  footer .form h2 {
    padding: 2rem 0 0.4rem 0;
    font-size: 1rem;
    text-align: left;
  }
  #copyright {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    background-color: #000;
  }
  footer h2 {
    color: #ffffff;
  }
  footer .footerNav {
    font-size: 16px;
    margin-top: 20px;
  }
  footer .footerNav ul li {
    padding-bottom: 0.5rem;
  }
  footer .footerNav a {
    color: #fff;
    text-decoration: none;
  }
  footer .footer-icons {
    text-align: center;
  }
  footer .footer-icons h2 {
    font-size: 20px;
  }
  footer .footer-icons img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1rem 1rem 0;
  }
  footer form {
    display: inline-flex;
  }
  footer form #sub {
    width: 1.5rem;
  }
  footer .form h2 {
    padding: 2rem 0 0.4rem 0;
    font-size: 1rem;
  }
  #copyright {
    font-size: 12px;
  }
}
#outerShell {
  display: none;
}

.xray-slider {
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    display: block;
    max-width: 1200px;
  }
  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 650px;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 650px;
  }
  .image-right {
    background: url(../images/Earbud_X-ray.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }
  .image-left {
    background: url(../images/Earbud_image.png) no-repeat;
    background-size: cover;
    width: 50%;
    background-attachment: fixed;
    height: 100%;
  }
  .image-drag {
    background-color: #51068B;
    left: 50%;
    width: 0.3rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  #scrollAnim {
    margin-top: 0.5rem;
    height: 27rem;
    background-color: #51068B;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1rem;
  }
  #scrollAnim h2 {
    padding-top: 12rem;
  }
}
@media screen and (min-width: 1200px) {
  #scrollAnim {
    height: 30rem;
  }
  #scrollAnim h2 {
    padding-top: 10rem;
  }
}
.hero-text {
  position: absolute;
  margin: 1rem 0 0 1rem;
}
.hero-text h2 {
  color: #51068B;
  font-size: 1.2rem;
  font-weight: 800;
}
.hero-text h3 {
  display: none;
}
.hero-text .button {
  background-color: #51068B;
  color: #ffffff;
  font-size: 0.7rem;
  text-align: center;
  border: none;
  padding: 0.3rem;
  margin-top: 1.5rem;
}

.content {
  font-size: 1rem;
}
.content h2 {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.content li {
  list-style-type: none;
}
.content li img {
  max-width: 80%;
  text-align: center;
}
.content li p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .hero-text {
    margin: 5rem 0 0 4rem;
  }
  .hero-text h2 {
    font-size: 2rem;
    font-weight: 800;
  }
  .hero-text h3 {
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2rem 0 2rem 0;
  }
  .hero-text .button {
    background-color: #51068B;
    color: #ffffff;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    padding: 0.5rem;
  }
  .button:hover {
    font-weight: 580;
    color: #51068B;
    background-color: #ffffff;
    border: solid 0.2rem #51068B;
  }
  .content {
    font-size: 20px;
  }
  .content h2 {
    margin-top: 2rem;
    text-align: center;
  }
  .content li {
    list-style-type: none;
  }
  .content li p {
    text-align: center;
    font-size: 14px;
  }
  .perk {
    margin-bottom: 5rem;
  }
  .perk-text, .perk-text-2 {
    margin-top: 4rem;
  }
  .perk-text h4, .perk-text-2 h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  .perk-text h2, .perk-text-2 h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .perk-text p, .perk-text-2 p {
    line-height: 1.6rem;
  }
  .image-1, .image-2 {
    height: 22rem;
    background-color: #51068B;
    color: #ffffff;
    margin-bottom: 3rem;
    font-size: 1rem;
    text-align: center;
  }
  .image-3 {
    height: 23rem;
    background-color: blanchedalmond;
  }
  .charge {
    margin-top: -20rem;
  }
  .charge h2 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
  }
  .charge p {
    line-height: 1.5rem;
  }
  #variety {
    font-size: 1.2rem;
    text-align: center;
    background-color: blanchedalmond;
    padding: 10rem 0 10rem 0;
    margin-bottom: 1rem;
  }
  #variety p {
    padding-top: 0.5rem;
    font-size: 1rem;
  }
  #variety br {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    margin: 11rem 0 0 9rem;
  }
  .hero-text h2 {
    color: #51068B;
    font-size: 3rem;
  }
  .hero-text h3 {
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem 0 2rem 0;
  }
  .hero-text .button {
    font-size: 1.5rem;
  }
  .content {
    font-size: 20px;
    margin-bottom: 5rem;
    margin-top: 4rem;
  }
  .content li p {
    font-size: 18px;
  }
  .difference {
    text-align: center;
  }
  .difference p {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  .perk {
    margin-bottom: 5rem;
  }
  .perk-text, .perk-text-2 {
    margin-top: 4rem;
  }
  .perk-text h4, .perk-text-2 h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  .perk-text h2, .perk-text-2 h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .perk-text p, .perk-text-2 p {
    line-height: 1.6rem;
  }
  .image-1, .image-2 {
    height: 22rem;
    background-color: #51068B;
    color: #ffffff;
    margin-bottom: 3rem;
    font-size: 1rem;
    text-align: center;
  }
  .charge h2 {
    font-size: 1.9rem;
  }
  #variety {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  #variety br {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */