@font-face {
  font-family: Montserrat;
  font-weight: normal;
  font-style: normal;
  src: url("../font/Montserrat-VariableFont_wght.ttf") format("ttf");
}
body {
  font-family: "Montserrat", arial, sans-serif;
}

model-viewer {
  width: auto;
  height: 700px;
  background-image: url(../images/background.png);
  margin: 0 auto 1rem;
}

.Hotspot {
  background: url(../images/hotspot.svg) center no-repeat;
  border: 0px;
  width: 25px;
  height: 25px;
  display: none;
  transition: all 1s ease-in-out;
}

.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.HotspotAnnotation {
  visibility: hidden;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(19, 19, 19, 0.25);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 15px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 300px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: 11rem;
  text-align: left;
}
.HotspotAnnotation h3 {
  color: #7cc7bf;
  font-weight: 200;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

#ar-button {
  background-image: url(../images/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}
@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status=session-started] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

:not(:defined) > * {
  display: none;
}

header #header {
  position: sticky;
  height: 72px;
}
header img {
  width: 48px;
  height: 48px;
  margin: 10px 0 0 10px;
}

#Nav-Desktop button {
  width: 20px;
  height: 20px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
  border: 0;
}

#search {
  margin-top: 24px;
  border-radius: 10px;
  text-align: center;
}

#main-logo {
  margin-top: 10px;
  width: 90%;
}

#Nav-Deskop {
  margin-top: 3px;
  margin-left: 11px;
}

#Nav-Desktop button.expanded {
  transform: rotate(90deg);
}

#burger-con {
  /* margin-top: 20px; */
  margin-bottom: 20px;
  display: none;
  position: absolute;
  background-color: #fff;
  height: 380px;
}

#burger-con.slide-toggle {
  display: block;
  left: 0;
  right: 0;
}

#burger-con ul li {
  border-bottom: 2px solid #efefef;
  margin-bottom: 10px;
  font-size: 21px;
}

#burger-con ul {
  padding-left: 0;
}

#burger-con ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #000;
  text-decoration: none;
}

#burger-con ul li a:hover {
  color: #51068B;
}

@media screen and (min-width: 768px) {
  #header {
    position: sticky;
    height: 72px;
  }
  header img {
    margin: 1rem;
  }
  #Nav-Desktop button {
    display: none;
  }
  #burger-con {
    display: contents;
    position: relative;
    height: 0;
  }
  #burger-con.slide-toggle {
    left: 0;
    right: 0;
  }
  #burger-con ul li {
    border-bottom: none;
  }
  #burger-con ul li a {
    display: inline;
  }
  #burger-con ul {
    margin-top: 44px;
  }
  #Nav-Desktop {
    padding-left: 0;
  }
  #Nav-Desktop ul li {
    display: inline;
    font-size: 1rem;
    margin-right: 27px;
  }
  #Nav-Desktop ul li a {
    color: #000;
    letter-spacing: 2px;
  }
  #Nav-Desktop ul li a:hover {
    color: #51068B;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 1200px) {
  #burger-con {
    display: block;
    margin-top: 1.5rem;
    background: none;
  }
  #burger-con ul li a {
    font-size: 1rem;
  }
}
footer {
  background-color: #000000;
  grid-auto-rows: min-content;
}
footer h2 {
  color: #ffffff;
}
footer .footerNav {
  font-size: 0.9rem;
  grid-row: 3/5;
  margin-top: 5rem;
}
footer .footerNav ul li {
  padding-bottom: 0.5rem;
  list-style-type: none;
}
footer .footerNav a {
  color: #fff;
  text-decoration: none;
}
footer .footer-icons {
  text-align: center;
  grid-row: 2/5;
}
footer .footer-icons h2 {
  font-size: 0.7rem;
  margin-top: 1rem;
}
footer .footer-icons img {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
footer form {
  display: inline-flex;
  margin-left: 1rem;
}
footer form #mail {
  width: 15rem;
  margin-right: 0.2rem;
}
footer form #sub {
  width: 1.5rem;
}
footer .form h2 {
  padding: 1rem 0 0.4rem 0;
  font-size: 0.9rem;
  text-align: center;
}

.location {
  margin-top: 1rem;
}
.location h3 a {
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.location h4 {
  font-weight: 400;
  margin-left: 2.5rem;
}
.location a {
  color: #ffffff;
}

.lan {
  margin-top: 1rem;
  font-size: 0.9rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.lan h4 {
  font-size: 0.9rem;
}
.lan h4 a {
  text-decoration: none;
  color: #ffffff;
}

#copyright {
  color: #fff;
  background-color: #131313;
  text-align: center;
  padding: 7px;
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  footer {
    grid-auto-rows: min-content;
  }
  footer h2 {
    color: #ffffff;
  }
  footer .footerNav {
    font-size: 14px;
    margin-top: 2rem;
    margin-bottom: 2.1rem;
    grid-row: none;
  }
  footer .footerNav ul li {
    padding-bottom: 0.5rem;
  }
  footer .footerNav a {
    color: #fff;
    text-decoration: none;
  }
  footer .footer-icons {
    text-align: center;
    grid-row: 1/3;
  }
  footer .footer-icons h2 {
    font-size: 1rem;
    margin-top: 3rem;
  }
  footer .footer-icons img {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem 1rem 1rem 0;
  }
  footer form {
    display: inline-flex;
    margin-left: 0;
    grid-row: none;
  }
  footer form #sub {
    width: 1.5rem;
  }
  footer .form h2 {
    padding: 2rem 0 0.4rem 0;
    font-size: 1rem;
    text-align: left;
  }
  footer .location {
    grid-row: 2/2;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  footer .location h3 a {
    text-decoration: none;
    font-size: auto;
    margin-left: 0;
  }
  footer .lan {
    margin-top: 3rem;
    grid-row: 2/2;
  }
  footer .lan h4 {
    font-size: 1rem;
  }
  footer .lan h4 a {
    text-decoration: none;
    color: #ffffff;
  }
  #copyright {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    background-color: #000;
  }
  footer h2 {
    color: #ffffff;
  }
  footer .footerNav {
    font-size: 16px;
  }
  footer .footerNav ul li {
    padding-bottom: 0.5rem;
  }
  footer .footerNav a {
    color: #fff;
    text-decoration: none;
  }
  footer .footer-icons {
    text-align: center;
    margin-top: -1rem;
  }
  footer .footer-icons h2 {
    font-size: 1rem;
  }
  footer .footer-icons img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem 1rem 1rem 0;
  }
  footer form {
    display: inline-flex;
  }
  footer form #sub {
    width: 1.5rem;
  }
  footer .form h2 {
    padding: 2rem 0 0.4rem 0;
    font-size: 1.2rem;
  }
  #copyright {
    font-size: 12px;
  }
}
#outerShell {
  display: none;
}

.xray-slider {
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  #mobile-tablet-view {
    display: none;
  }
  #outerShell {
    display: block;
    max-width: 1200px;
  }
  #imageCon {
    position: relative;
    max-width: 1200px;
    height: 650px;
  }
  .slideImage {
    position: absolute;
    left: 0;
    right: 0;
    height: 650px;
  }
  .image-right {
    background: url(../images/Earbud_X-ray.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .image-left {
    background: url(../images/Earbud_image.png) no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
  }
  .image-drag {
    background-color: #51068B;
    left: 50%;
    width: 0.3rem;
    cursor: pointer;
  }
}
.image-drag:before, .image-drag:after {
  content: "";
  position: absolute;
  left: 0;
  top: 19rem;
  width: 1.5rem;
  height: 2.5rem;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.image-drag:after {
  left: -1.5rem;
  background: #51068B;
  transform: rotate(46deg);
  transform-origin: 100% 100%;
}

#scrollAnim {
  max-width: 100%;
}

body {
  background-color: #fff;
}

#variety {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.variety {
  position: absolute;
  margin: 7.2rem 0 0 4.9rem;
  color: #51068B;
}
.variety h2 {
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  #variety {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  #variety br {
    display: block;
  }
  img {
    width: 150%;
  }
  .variety {
    position: absolute;
    margin: 28rem 0 0 24rem;
    color: #51068B;
  }
  .variety h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  #variety {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  #variety br {
    display: block;
  }
  img {
    width: 150%;
  }
}
.panel {
  position: relative;
  overflow: hidden;
}

.perk {
  margin-bottom: 2rem;
  background-color: #fff;
}

.perk-text, .perk-text-2 {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.perk-text h4, .perk-text-2 h4 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.perk-text h2, .perk-text-2 h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.perk-text p, .perk-text-2 p {
  line-height: 1.6rem;
  text-align: left;
}

.image-1, .image-2 {
  margin-bottom: 0.5rem;
}

.perk {
  margin-bottom: 2rem;
}

.perk-text, .perk-text-2 {
  margin-top: 4rem;
  margin-bottom: 0;
  text-align: left;
}

.perk-text-2 {
  margin-top: 2rem;
  margin-right: 2rem;
}

@media screen and (min-width: 768px) {
  .image-2 {
    grid-row: 1/2;
  }
  .perk {
    margin-bottom: 2rem;
  }
  .perk-text, .perk-text-2 {
    margin-top: 7rem;
    margin-bottom: 0;
    text-align: left;
    margin-left: 0;
  }
  .perk-text-2 {
    margin-top: 2rem;
    grid-column: 7/13;
    margin-right: 2rem;
    margin-left: 1rem;
  }
  .image-1, .image-2 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .perk-text h4, .perk-text-2 h4 {
    font-size: 1rem;
  }
  .perk-text h2, .perk-text-2 h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
  }
  .perk-text-2 {
    margin-right: 0;
  }
  .side_1, .side_2 {
    max-width: 70%;
    margin-top: 1rem;
  }
}
.gallery {
  background-image: url(../images/background.png);
}

.cards, #card_B {
  display: none;
}

.cards h4, .card h4 {
  display: none;
}

#cards_S {
  margin-left: -1rem;
}

#cardText {
  display: block;
  font-size: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
#cardText h2 {
  border: solid 0.3rem #51068B;
  padding: 0.5rem;
}
#cardText :hover {
  background-color: #51068B;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 3rem;
    background-image: none;
  }
  #card_B {
    display: block;
  }
  .card:hover {
    cursor: pointer;
    filter: brightness(50%);
  }
  .cards:hover {
    cursor: pointer;
    filter: brightness(50%);
  }
  .card {
    grid-row: 1/2;
    margin-left: 5px;
    margin-right: -10px;
    padding-right: 0;
  }
  .card :hover ~ h4 {
    opacity: 1;
    transition: ease-in;
    padding-top: 1rem;
    text-decoration: underline;
    transition-duration: 0.2s;
  }
  .card h4 {
    margin-top: -8rem;
    text-align: center;
    color: #ffffff;
    opacity: 0;
  }
  .cards {
    display: block;
    grid-row: 2/2;
    margin-top: -7.7rem;
    margin-left: 5px;
    margin-right: -10px;
    padding-right: 0;
  }
  .cards :hover ~ h4 {
    opacity: 1;
    transition: ease-in;
    padding-top: 1rem;
    text-decoration: underline;
    transition-duration: 0.1s;
  }
  .cards h4 {
    margin-top: -8rem;
    text-align: center;
    color: #ffffff;
    opacity: 0;
  }
  #cards {
    margin-top: -13.5rem;
  }
  #cardText {
    margin-top: 2.4rem;
    font-size: 2rem;
    text-align: center;
  }
  #cardText h2 {
    border: solid 0.3rem #51068B;
    padding: 0.5rem;
  }
  #cardText :hover {
    background-color: #51068B;
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
  }
}
.hero-text h2 {
  margin-left: 1rem;
  margin-top: -2rem;
  color: #51068B;
  font-size: 1.3rem;
  font-weight: 900;
}
.hero-text h2 br {
  display: none;
}
.hero-text h3 {
  display: none;
}
.hero-text button {
  width: 18.5rem;
}
.hero-text .button {
  background-color: #51068B;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  padding: 0.3rem;
}
.hero-text :hover {
  cursor: pointer;
}

.content {
  font-size: 1rem;
}
.content h2 {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
.content li {
  list-style-type: none;
}
.content li img {
  max-width: 80%;
  text-align: center;
}
.content li p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

.difference {
  text-align: left;
  margin-left: 0.5rem;
  margin-top: 2rem;
}
.difference h2 {
  color: #51068B;
  font-size: 1.5rem;
}
.difference p {
  font-size: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  line-height: 1.1rem;
}

.image-3 {
  margin-bottom: -1rem;
}

.charge {
  margin-left: 4rem;
}
.charge h2 {
  font-size: 0.8rem;
  padding-bottom: 1rem;
  margin-top: -6rem;
  color: #51068B;
}
.charge span {
  color: #ffffff;
  font-size: 2rem;
  background-color: #51068B;
  border-radius: 1rem;
  padding: 0.01rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.charge p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .hero-text {
    position: absolute;
    margin: 5rem 0 0 4rem;
  }
  .hero-text h2 {
    font-size: 2rem;
    font-weight: 800;
  }
  .hero-text h3 {
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2rem 0 2rem 0;
  }
  .hero-text button {
    width: auto;
  }
  .hero-text .button {
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1.5rem;
  }
  .button:hover {
    font-weight: 580;
    color: #51068B;
    background-color: #ffffff;
    border: solid 0.2rem #51068B;
  }
  .content {
    font-size: 1rem;
  }
  .content h2 {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.5rem;
  }
  .content li {
    list-style-type: none;
  }
  .content li p {
    text-align: center;
  }
  .difference {
    text-align: center;
    margin-top: 2rem;
  }
  .difference p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    line-height: 1.5rem;
  }
  .image-3 {
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 0;
  }
  .charge {
    margin-left: 1.2rem;
  }
  .charge h2 {
    font-size: 3rem;
    margin-top: -10rem;
  }
  .charge span {
    font-size: 10rem;
  }
  .charge #break-2 {
    display: none;
  }
  .charge span:hover {
    color: #000;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    margin: 11rem 0 0 9rem;
  }
  .hero-text h2 {
    color: #51068B;
    font-size: 3rem;
  }
  .hero-text h3 {
    font-weight: 500;
    font-size: 2rem;
    padding: 2rem 0 2rem 0;
  }
  .hero-text .button {
    font-size: 1.5rem;
  }
  .content {
    font-size: 20px;
    margin-bottom: 5rem;
    margin-top: 4rem;
  }
  .content li p {
    font-size: 18px;
  }
  .difference {
    margin-top: 0;
  }
  .difference p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  .charge h2 {
    font-size: 3rem;
    margin-top: -10rem;
  }
  .charge span {
    font-size: 10rem;
  }
  .charge #break-2 {
    display: none;
  }
  span:hover {
    color: #000;
  }
}/*# sourceMappingURL=main.css.map */