@use '../abstracts' as a;

#variety {
    font-size: 1.2rem;
    text-align: center;
    // background-color: rgb(222, 205, 181);
    // padding: 10rem 0 10rem 0;
    margin-bottom: 1rem;
    // h2{
    //     font-size: 3rem;
    // }
    br {display: none;}
}

.variety {
    position: absolute;
    margin: 28rem 0 0 24rem;
    color: a.$accent-color;
    h2{
        font-size: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    #variety {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        br {display: block;}
    }

    img {
       width: 150%;
    }
}