@use '../abstracts' as a;

#variety {
    font-size: 1.2rem;
    text-align: center;
    // background-color: rgb(222, 205, 181);
    // padding: 10rem 0 10rem 0;
    margin-bottom: 1rem;
    // h2{
    //     font-size: 3rem;
    // }
    // br {display: none;}
    animation: change 10s infinite ease-in-out;
}

.variety {
    position: absolute;
    margin: 7.2rem 0 0 4.9rem;
    color: a.$accent-color;
    h2{
        font-size: .9rem;
    }
}

@keyframes change {
    0% { background-color: #e6e6e6;}
    12.5% { background-color: #CBE2CB;}
    25% { background-color: #FBEF80}
    37.5% { background-color:  #ead514;}
	50% { background-color:  #FF8A8C;}
	62.5% {	background-color:  #ead514;}
	75% { background-color:  #FBEF80;}
	87.5% { background-color:  #CBE2CB;}
	100% { background-color:  #e6e6e6;}
}

@media screen and (min-width: 768px) {
    #variety {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        br {display: block;}
    }

    img {
       width: 150%;
    }

    .variety {
        margin: 17rem 0 0 11.6rem;
        h2{
            font-size: 2rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .variety {
        margin: 25rem 0 0 24rem;
        h2{
            font-size: 3rem;
        }
    }
}