
@use '../abstracts' as a;

footer {
    background-color: a.$secondary-color;
    grid-auto-rows: min-content;

    h2{ color: a.$primary-color;}
    
   

    .footerNav {
        font-size: .9rem;
        // margin-left: -2rem;
        grid-row: 3/5;
        margin-top: 5rem;

        ul li {
            padding-bottom: .5rem;
            list-style-type: none;
        }
        
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .footer-icons { 
        text-align: center;
        // margin-top: 1rem;
        grid-row: 2/5;
        h2{ 
            font-size: .7rem;
            margin-top: 1rem;
        }
        img {
        width: 2rem;
        height: 2rem;
        margin: .5rem .5rem .5rem 0;
        }
    }

    form {
        display: inline-flex;
        margin-left: 1rem;
        // grid-row: 2/3;
        #mail {
            width: 15rem;
            margin-right: .2rem;
        }

        #sub { 
            width: 1.5rem;
        }
    }

    .form h2 {
        padding: 1rem 0 .4rem 0;
        font-size: .9rem;
        text-align: center;
    }
}

.location {        
    margin-top: 1rem;
    h3 {
        a{
            text-decoration: none;
            font-size: .9rem;
            margin-left: .5rem;
        }
    }
    h4 {
        font-weight: 400;
        margin-left: 2.5rem;
    }
    a {color: a.$primary-color; }
}

.lan {
    margin-top: 1rem;
    font-size: .9rem;
    margin-left: 2rem;
    margin-bottom: .5rem;
    h4{
        font-size: .9rem ;
        a{
            text-decoration: none;
            color: a.$primary-color;
        }
    }
}

#copyright {
    color: #fff;
    background-color: #131313;
    text-align: center;
    padding: 7px;
    font-size: .7rem;
}



@media screen and (min-width: 768px) {
    footer {
        grid-auto-rows: min-content;
    
        h2{ color: a.$primary-color;} 
    
        .footerNav {
            font-size: 14px;
            margin-top: 2rem;
            margin-bottom: 2.1rem;
            grid-row: none;
    
            ul li {
                padding-bottom: .5rem;
            }
            
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    
        .footer-icons { 
            text-align: center;
            grid-row: 1/3;
            h2{ 
                font-size: 1rem;
                margin-top: 3rem;
            }
            img {
            width: 2rem;
            height: 2rem;
            margin: .5rem 1rem 1rem 0;
            }
        }
    
        form {
            display: inline-flex;
            margin-left: 0;
            grid-row: none;
    
            #sub { 
                width: 1.5rem;
            }
        }
    
        .form h2 {
            padding: 2rem 0 .4rem 0;
            font-size: 1rem;
            text-align: left;
        }

        .location {
            grid-row: 2/2;
            margin-top: 2rem;
            margin-left: 2rem;
            h3 {
                a{
                    text-decoration: none;
                    font-size: auto;
                    margin-left: 0;
                }
            }
        }

        .lan {
            margin-top: 3rem;
            grid-row: 2/2;
            h4{
                font-size: 1rem ;
                a{
                    text-decoration: none;
                    color: a.$primary-color;
                }
            }
        }
    }
    
    
    #copyright {
        font-size: 12px;
    }
    
    }



@media screen and (min-width: 1200px) {
footer {
    background-color: #000;

    h2{ color: a.$primary-color;}
    
   

    .footerNav {
        font-size: 16px;

        ul li {
            padding-bottom: .5rem;
        }
        
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .footer-icons { 
        text-align: center;
        margin-top: -1rem;
        h2{ 
            font-size: 1rem;
        }
        img {
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem 1rem 1rem 0;
    }
    }

    form {
        display: inline-flex;

        #sub { 
            width: 1.5rem;
        }
    }

    .form h2 {
        padding: 2rem 0 .4rem 0;
        font-size: 1.2rem;
    }
}


#copyright {
    font-size: 12px;
}

}