
@use '../abstracts' as a;

@media screen and (min-width: 1200px) {
footer {
    background-color: #000;
    grid-auto-rows: min-content;

    h2{ color: a.$primary-color;}
    
   

    .footerNav {
        font-size: 16px;
        margin-top: 20px;

        ul li {
            padding-bottom: .5rem;
        }
        
        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .footer-icons { 
        text-align: center;
        h2{ 
            font-size: 20px;
        }
        img {
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem 1rem 1rem 0;
    }
    }
    .form h2 {
        padding-top: 2rem;
    }
}
form {
    display: inline-flex;
    h2{
        margin-top: 1rem;
        font-weight: 500;
        font-size: 3rem;
    }

    #sub { 
        width: 1.5rem;
    }
    
}

#copyright {
    color: #fff;
    background-color: #131313;
    text-align: center;
    padding: 7px;
    font-size: 12px;
}

}