@use '../abstracts' as a;

header {
    #header {
    position: sticky;
    height: fit-content;
    }
    img {
        width: 70%;
        margin: 4px 0 17px 4px;
        
    }   
}

.cart { display: none;}

#Nav-Desktop button {
    width: 20px;
    height: 20px;
    background: url(../images/burger.svg) no-repeat center;
    // margin-top: 20px;
    // margin-bottom: 20px;
    transition: all .5s ease;
    border: 0;
 }


 #Nav-Deskop {
    margin-top: 3px;
    margin-left: 11px;
 }


 #Nav-Desktop button.expanded {
    transform: rotate(90deg);
 }
 
 #burger-con {
    /* margin-top: 20px; */
    margin-bottom: 20px;
    display: none;
    position: absolute;
    background-color: #fff;
    height: 380px;
}
 
#burger-con.slide-toggle {
    display: block;
    left: 0;
    right: 0;
}

#burger-con ul li {
    border-bottom: 2px solid #efefef;
    margin-bottom: 10px;
    font-size: 21px;
}

#burger-con ul {
    padding-left: 0;
}


#burger-con ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #000;
    text-decoration: none;
}

#burger-con ul li a:hover {
    color: a.$accent-color;
}

#free { 
    font-size: .7rem;
    background-color: a.$secondary-color;
    color: a.$primary-color;
    text-align: center;

    #freeText { padding: .3rem;}
}

@media screen and (min-width: 768px) {

    #header img {  
        margin: 1rem;
        width: 140%;
        margin: 10px 0 0 10px;
    }

    .cart { display: block;}

   
    #Nav-Desktop button {
        display: none;
    }

    #burger-con {
        display: contents;
        position: relative;
        height: 0;
    }

    #burger-con.slide-toggle {
        left: 0;
        right: 0;
    }

    #burger-con ul li {
        border-bottom: none;
    }

    #burger-con ul li a { display: inline;}

    #burger-con ul { margin-top: 20px;}
    #Nav-Desktop {
        // grid-row: 1/3;
        padding-left: 0;
    }
  
    #Nav-Desktop ul li {
        display: inline;
        font-size: 1rem;
        margin-right: 27px;
    }
    
    #Nav-Desktop ul li a {
        color: #000;
        letter-spacing: 2px;
    }
    
    #Nav-Desktop ul li a:hover {
        color: a.$accent-color;
        font-weight: 600;
        letter-spacing: 1px;
    }
   
       
 
}



@media screen and (min-width: 1200px) {

    #header img {  
        width: 70%;
    }

    #burger-con {
        display: block;
        margin-top: 1.5rem;
        
        background: none;
           
        ul li a {
            font-size: 1rem;
        }

    }
      
    
}


