
.panel {
  position: relative;
  overflow:hidden;
}

.perk {
  margin-bottom: 2rem;
  background-color: #fff;
}

.perk-text, .perk-text-2 {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.perk-text h4, .perk-text-2 h4 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.perk-text h2, .perk-text-2 h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.perk-text p, .perk-text-2 p {
  line-height: 1.6rem;
  text-align: left;
}

// .perk-text-2 {
//   margin-left: 1rem;
// }

.image-1, .image-2 {
  margin-bottom: 0.5rem;
}

.perk {
    margin-bottom: 2rem;
  }
  .perk-text, .perk-text-2 {
    margin-top: 4rem;
    margin-bottom: 0;
    text-align: left;
  }
  .perk-text-2 {
    margin-top: 2rem;

    margin-right: 2rem;
  }
  // .image-1, .image-2 {
  //   height: 19rem;
  //   margin-bottom: 1rem;
  // }

  @media screen and (min-width: 768px) {
    .image-2 { grid-row: 1/2;}
    .perk {
      margin-bottom: 2rem;
    }
    .perk-text, .perk-text-2 {
      margin-top: 7rem;
      margin-bottom: 0;
      text-align: left;
      margin-left: 0;
    }
    .perk-text-2 {
      margin-top: 2rem;
      grid-column: 7/13;
      margin-right: 2rem;
      margin-left: 1rem;
    }

    .image-1, .image-2 {
      // height: 15rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      text-align: center;
    }
    // .image-1, .image-2 {
    //   height: 19rem;
    //   margin-bottom: 1rem;
    // }
  }

  @media screen and (min-width: 1200px) {

    // .perk-text, .perk-text-2 {
    //   margin-top: 4rem;
    // }
    .perk-text h4, .perk-text-2 h4 {
      font-size: 1rem;
    }
    .perk-text h2, .perk-text-2 h2 {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    // .perk-text h2 {
    //   font-size: 2rem;
    //   padding-bottom: 2rem;
    // }
    .perk-text-2 {
      margin-right: 0;
    }
    // .image-1, .image-2 {
    //   height: 22rem;
    //   margin-bottom: 3rem;
    // }
    .side_1, .side_2 {
      max-width: 70%;
      // height: 10rem;
      margin-top: 1rem;
    }
  }